.home-main {
  margin: 250px auto 300px auto;
  max-width: 1240px;
  width: auto;
  .home-title {
    text-align: left;
    color: rgb(65, 65, 255);
    font-weight: 700;
    font-size: 60px;
  }
  .home-subtitle {
    font-size: 34px;
    font-weight: 600;
    margin-top: 20px;
  }
}
.home-abt {
  background-color: rgb(241, 241, 241);
  height: 500px;
  .home-abt-container {
    height: 100%;
    max-width: 1240px;
    width: auto;
    margin: auto;
    padding-top: 50px;
    .home-abt-title {
      text-align: left;
      color: rgb(65, 65, 255);
      font-size: 45px;
    }
    .home-abt-content {
      text-align: justify;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home-main {
    max-width: 1024px;
    margin-left: 50px;
    margin-right: 50px;
    .home-title {
      font-size: 40px;
      line-break: normal;
    }
    .home-subtitle {
      font-size: 24px;
    }
  }

  .home-abt {
    .home-abt-container {
      padding: 50px;
      .home-abt-title {
        font-size: 30px;
      }
      .home-abt-content {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .home-main {
    margin: 150px 50px;
    .home-title {
      font-size: 26px;
    }
    .home-subtitle {
      font-size: 18px;
    }
  }
  .home-abt {
    height: auto;
    .home-abt-container {
      padding: 50px;
      .home-abt-title {
        font-size: 24px;
      }
      .home-abt-content {
        font-size: 14px;
      }
    }
  }
}
